* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #9b99a8 url(img/pattern.png);
    font-family: Inter;
}

#container {
    background-color: #f5f5f5;
    color: #080f0f;
    margin: 2rem auto;
    max-width: 800px;
    border: 1px solid #080f0f;
    border-bottom: 0.5rem solid #080f0f;
    border-bottom-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
}


#header {
   border-bottom: 0.25rem solid #080f0f;
   padding: 1rem;
   width: 800px;
   flex: 1;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: center;

}

#header > h1 {
    font-size: 3rem;
    font-weight: 700;
    font-style: italic;
    flex: auto;
}

#tagline {
    max-width: 200px;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: right;
    flex: auto;
}



#panel {
    width: 800px;
    flex: 1;
    padding: 2rem 1rem 1rem 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}

button {
    background-color: #CCC7FF;
    padding: 0.75rem 1.5rem;
    font-size: 2rem;
    font-weight: 600;
    color: #080f0f;
    border: 2px solid #080f0f;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem #080f0f;
    height: 4rem;
    text-align: center;
    line-height: 1rem;
    max-width: 235px;
    flex: 1 1 100%;
}

button:hover {
    background-color: #7b6cff;
    color: #0a0060;
    box-shadow: 0 0.5rem #080f0f;
}

button.refresh {
    background-color: #080f0f;
    color: #fff;
    font-size: 1.5rem;
    border-radius: .5rem;
    display: block;
    margin: auto;
    transition: rotate .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button.refresh:hover {
    background-color: #fff;
    color: #080f0f;
    rotate: 5deg;
}

button.disabled {
    background-color: #ffffff80;
    color: rgba(0,0,0,0.1);
    border: none;
    box-shadow: none;
}


#information {
    width: 800px;
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    gap: 0.5rem;

}

#score {
    max-width: 50%;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: flex-start;
}

#score > p {
    font-size: 1rem;
    font-weight: 500;
}

#result {
    height: 150px;
    background-color: #fff;
    color: #080f0f;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    align-content: center;

    border: 2px solid #080f0f;
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem #080f0f;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#result-main {
    font-size: 2rem;
    background: #b6ffff;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: .75rem;
}

#result-info {
    font-size: 1rem;
}